In [3]:
import numpy as np

In [7]:
import pandas as pd
from pandas import Series,DataFrame
srs1 = Series([1,9,-4,3,3])
srs2 = Series([2,3,4,5,10],index=[0,1,2,3,5])
print(srs1)

0    1
1    9
2   -4
3    3
4    3
dtype: int64

In [8]:
print(srs1)

0    1
1    9
2   -4
3    3
4    3
dtype: int64

In [10]:
srs1 + srs2

0     3.0
1    12.0
2     0.0
3     8.0
4     NaN
5     NaN
dtype: float64

In [11]:
srs1*srs2

0     2.0
1    27.0
2   -16.0
3    15.0
4     NaN
5     NaN
dtype: float64

In [12]:
srs1**srs2

0      1.0
1    729.0
2    256.0
3    243.0
4      NaN
5      NaN
dtype: float64

In [18]:
srs1 > Series([1,2,3,4,5])

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [19]:
np.sqrt(srs2)

0    1.414214
1    1.732051
2    2.000000
3    2.236068
5    3.162278
dtype: float64

In [20]:
np.abs(srs1)

0    1
1    9
2    4
3    3
4    3
dtype: int64

In [25]:
@np.vectorize
def trunc(x):
    return x if x > 0 else 0
trunc(np.array([-1,5,4,-3,0]))
trunc(srs1)

array([1, 9, 0, 3, 3], dtype=int64)

In [26]:
type(trunc(srs1))

numpy.ndarray

In [27]:
srs1.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0    1
1    9
2   -4
3    3
4    3
dtype: int64>

In [28]:
srs1.std()

4.669047011971501

In [29]:
srs1.max()

9

In [30]:
srs1.cumsum()

0     1
1    10
2     6
3     9
4    12
dtype: int64

In [31]:
srs1.abs()

0    1
1    9
2    4
3    3
4    3
dtype: int64

In [32]:
srs1.apply(lambda x: x if x > 2 else 2)

0    2
1    9
2    2
3    3
4    3
dtype: int64

In [33]:
srs1.apply(lambda x: x if x > 2 else 2)

0    2
1    9
2    2
3    3
4    3
dtype: int64

In [34]:
srs3=Series(['alpha','beta','gama','delta'],index=['a','b','c','d'])
print(srs3)

a    alpha
b     beta
c     gama
d    delta
dtype: object

In [35]:
obj={"alpha":1, "beta":2, "gama":-1, "delta":-3}
srs3.map(obj)

a    1
b    2
c   -1
d   -3
dtype: int64

In [36]:
srs4=Series(obj)
print(srs4)

alpha    1
beta     2
gama    -1
delta   -3
dtype: int64

In [37]:
srs3.map(srs4)

a    1
b    2
c   -1
d   -3
dtype: int64

# Union of the Series

In [38]:
srs1.map(lambda x: x if x > 2 else 2)

0    2
1    9
2    2
3    3
4    3
dtype: int64

In [39]:
import pandas as pd
import numpy as np

In [43]:
ser1=pd.Series([1,2,3,4,5])
ser2=pd.Series([4,5,6,7,8])
print(ser1,"\n",ser2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
 0    4
1    5
2    6
3    7
4    8
dtype: int64

In [45]:
union=pd.Series(np.union1d(ser1,ser2))
union

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [46]:
intersect=pd.Series(np.intersect1d(ser1,ser2))
intersect

0    4
1    5
dtype: int64

In [47]:
notcommonseries=union[~union.isin(intersect)]
print(notcommonseries)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64