1>...Write a Pandas Program to create and display a one-dimensional array-like object containing an array of data?

In [2]:
import pandas as pd
ds=pd.Series([2,4,6,8,10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

2>.. Write a Pandas Program to convert a panda module Series to python list and its type?
ds=pd.series([2,4,6,8,10])

In [3]:
import pandas as pd
ds=pd.Series([2,4,6,8,10])
print("pandas Series and type")
print(ds)
print(type(ds))
print("Convert pandas Series tp python list")
print(ds.tolist())
print(type(ds.tolist()))

pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert pandas Series tp python list
[2, 4, 6, 8, 10]
<class 'list'>

3.Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [4]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
ds=ds1+ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds=ds1 - ds2
print(ds)
print("Multiply two Series:")
ds=ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds=ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [5]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("compare the elements of the said Series:")
print("Equals:")
print(ds1==ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.
Sample dictionary: d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [6]:
import pandas as pd
d1={'a':100, 'b':200,'c':300, 'd':400, 'e':800}
print(d1)
new_Series=pd.Series(d1)
print("Converted Series:")
print(new_Series)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted Series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.
Sample NumPy array: d1 = [10, 20, 30, 40, 50]

In [9]:
import numpy as np
import pandas as pd
np_array=np.array([10,20,30,40,50])
print("Numpy array:")
print(np_array)
new_Series=pd.Series(np_array)
print("Converted pandas Series:")
print(new_Series)

Numpy array:
[10 20 30 40 50]
Converted pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

7. Write a Pandas program to change the data type of given a column or a Series.

Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [10]:
import pandas as pd
s1=pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("change the said data type to numeric:")
s2=pd.to_numeric(s1, errors='coerce')
print(s2)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [13]:
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
s1 = df.iloc[:,0]
print("\n1st column as a Series:")
print(s1)
print(type(s1))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

9.Write a Pandas program to convert a given Series to an array.

In [14]:
import pandas as pd
import numpy as np
s1=pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("series to an array")
a=np.array(s1.values.tolist())
print(a)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
series to an array
['100' '200' 'python' '300.12' '400']

10. Write a Pandas program to convert Series of lists to one Series.

In [15]:
import pandas as pd
s=pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original series of list")
print(s)
s=s.apply(pd.Series).stack().reset_index(drop=True)
print("one Series")
print(s)

Original series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
one Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a pandas program to sort a given Series..

In [18]:
import pandas as pd
s=pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s=pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [20]:
import pandas as pd
s=pd.Series(['100', '200', 'python', '300.12', '400'])
print(s)
print("\nData Series after adding some data:")
new_s=s.append(pd.Series(['500', 'php']))
print(new_s)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

C:\Users\CS-L1-PC02\AppData\Local\Temp\ipykernel_8644\837791487.py:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_s=s.append(pd.Series(['500', 'php']))

13. Write a Pandas program to create a subset of a given series based on value and condition.

In [22]:
import pandas as pd
s=pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print("Original Data Series:")
print(s)
print("\nSubset of the above Data Series:")
n=6
new_s=s[s < n]
print(new_s)

Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series.

In [6]:
import pandas as pd
s = pd.Series(data = [1,2,3,4,5], index = ['A','B','C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [7]:
import pandas as pd
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series:")
print(s)
print("Mean of the said Data Series:")
print("Standard deviation of the said Data Series:")
print(s.std())

Original Data Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the said Data Series:
Standard deviation of the said Data Series:
2.522624895547565

16. Write a Pandas program to get the items of a given series not present in another given series.

In [8]:
import pandas as pd
sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])
print("Original series:")
print("sr1:")
print(sr1)
print("sr2")
print(sr2)
print("\nItem of sr1 not present in sr2:")
result = sr1[~sr1.isin(sr2)]
print(result)

Original series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2
0     2
1     4
2     6
3     8
4    10
dtype: int64

Item of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

In [13]:
import pandas as pd
import numpy as np
sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItem of a given Series not present in another given Series:")
sr11 = pd.Series(np.union1d(sr1 , sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]
print(result)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Item of a given Series not present in another given Series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [17]:
import pandas as pd
import numpy as np
num_state = np.random.RandomState(100)
num_Series = pd.Series(num_state.normal(10,4,20))
print("Original Series:")
print(num_Series)
result=np.percentile(num_Series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th Percentile, median, 75th, and maximum of a given Series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th Percentile, median, 75th, and maximum of a given Series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [18]:
import pandas as pd
import numpy as np
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print("Original Series:")
print(num_Series)
print("Frequency of each unique value of the said Series.")
result = num_Series.value_counts()
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
Frequency of each unique value of the said Series.
3.000938     1
11.370722    1
8.247458     1
14.118931    1
7.874878     1
9.582355     1
12.690883    1
13.267388    1
7.665620     1
11.740654    1
8.167892     1
11.020006    1
9.242017     1
5.719827     1
10.884719    1
12.056875    1
13.925283    1
8.990256     1
14.612143    1
5.526727     1
dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace everything else as ‘Other’ in the series.

In [20]:
import pandas as pd
import numpy as np
np.random.RandomState(100)
num_Series = pd.Series(np.random.randint(1, 5, [15]))
print("Original series:")
print(num_Series)
print("Top 2 freq:", num_Series.value_counts())
result = num_Series[~num_Series.isin(num_Series.value_counts().index[:1])] = 'other'
print(num_Series)

Original series:
0     3
1     1
2     1
3     1
4     2
5     4
6     3
7     2
8     4
9     1
10    2
11    4
12    2
13    1
14    4
dtype: int32
Top 2 freq: 1    5
2    4
4    4
3    2
dtype: int64
0     other
1         1
2         1
3         1
4     other
5     other
6     other
7     other
8     other
9         1
10    other
11    other
12    other
13        1
14    other
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [22]:
import pandas as pd
import numpy as np
num_Series = pd.Series(np.random.randint(1, 10, 9))
print("Original Series:")
print(num_Series)
result = np.where(num_Series % 5==0)
print("positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    8
1    4
2    3
3    9
4    5
5    1
6    3
7    8
8    8
dtype: int32
positions of numbers that are multiples of 5:
(array([4], dtype=int64),)

22. Write a Pandas program to extract items at given positions of a given series.

In [25]:
import pandas as pd
num_Series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
print("Original Series:")
print(num_Series)
result = num_Series.take(element_pos)
print("\nExtract items at given positions of the said Series:")
print(result)

Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

Extract items at given positions of the said Series:
0     2
2     9
6     8
11    0
21    3
dtype: object

23. Write a Pandas program to get the positions of items of a given series in another given series.

In [29]:
import pandas as pd
Series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
Series2 = pd.Series([1, 3, 5, 7, 10])
print("Original Series:")
print(Series1)
print(Series2)
result = [pd.Index(Series1).get_loc(i) for i in Series2]
print("Positions of items of Series2 in Series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of Series2 in Series1:
[0, 2, 4, 6, 9]

24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [30]:
import pandas as pd
Series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(Series1)
result = Series1.map(lambda x: x[0].upper() + x[1: -1] + x[-1].upper())
print("\nFirst and last character of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [31]:
import pandas as pd
Series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(Series1)
result = Series1.map(lambda x: len(x))
print("\nNumber of charachter in each word in the said Series:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

Number of charachter in each word in the said Series:
0    3
1    6
2    4
3    2
dtype: int64

26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [32]:
import pandas as pd
Series1 =pd.Series([1, 3, 5, 8, 10, 11, 15])
print(Series1)
print("\nDifference of differences between consecutive numbers of the said Series:")
print(Series1.diff().tolist())
print(Series1.diff().diff().tolist())

0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said Series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

27. Write a Pandas program to convert a series of date strings to a timeseries

In [36]:
import pandas as pd
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
print("\nSeries of data strings to a timeseries:")
print(pd.to_datetime(date_series))

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of data strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

28. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [40]:
import pandas as pd
from dateutil.parser import parse
date_Series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'April 2018', 'May 2019'])
print("Original Series:")
print(date_Series)
print("\nNew dates:")
result = date_Series.map(lambda d: parse('11' + d))
print(result)

Original Series:
0      Jan 2015
1      Feb 2016
2      Mar 2017
3    April 2018
4      May 2019
dtype: object

New dates:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

29. Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [42]:
import pandas as pd
from collections import Counter
color_Series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original series:")
print("\nFiltered words:")
result = mask = color_Series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color_Series[result])

Original series:

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

30. Write a Pandas program to create a TimeSeries to display all the Sundays of given year

In [44]:
import pandas as pd
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("Al sundays of 2019:")
print(result)

Al sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

31. To get Indexes & values  of all non zero values in a series

In [45]:
import pandas as pd
import numpy as np
list = [1, 0, 12, 1, 0, 4, 22, 0, 3, -9]
srs1 = pd.Series(list)
srs1[srs1!=0]

0     1
2    12
3     1
5     4
6    22
8     3
9    -9
dtype: int64