In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('Social_Network_Ads.CSV')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
x=df.iloc[:,2:4]
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [6]:
y=df.iloc[:,-1]
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.8,random_state=2)

In [9]:
xtrain

     Age  EstimatedSalary
97    28           123000
125   39            61000
61    25            87000
81    39            42000
399   49            36000
..   ...              ...
299   46           117000
22    48            41000
72    20            23000
15    29            80000
168   29           148000

[80 rows x 2 columns]

In [10]:
xtest

     Age  EstimatedSalary
94    29            83000
32    21            16000
225   37            53000
157   29            75000
356   54            70000
..   ...              ...
224   35            60000
355   60            34000
229   42            80000
308   36           125000
395   46            41000

[320 rows x 2 columns]

In [11]:
ytrain

97     1
125    0
61     0
81     0
399    1
      ..
299    1
22     1
72     0
15     0
168    1
Name: Purchased, Length: 80, dtype: int64

In [13]:
ytest

94     0
32     0
225    0
157    0
356    1
      ..
224    0
355    1
229    1
308    1
395    1
Name: Purchased, Length: 320, dtype: int64

In [14]:
from sklearn.preprocessing import StandardScaler
tr = StandardScaler()
x_tr = tr.fit_transform(xtrain)
x_te = tr.transform(xtest)

In [16]:
x_tr.shape

(80, 2)

In [17]:
x_te.shape

(320, 2)

In [20]:
from sklearn.svm import SVC
classifier=SVC(kernel='linear',random_state=0)
classifier.fit(x_tr , ytrain)

SVC(kernel='linear', random_state=0)

In [21]:
y_pred=classifier.predict(xtest)
y_pred

C:\Users\CS-L1-PC02\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [22]:
from sklearn.metrics import accuracy_score , confusion_matrix
print("Accuracy score =",accuracy_score(ytest,y_pred))

Accuracy score = 0.36875

In [23]:
pd.DataFrame(confusion_matrix(ytest,y_pred))

   0    1
0  0  202
1  0  118

In [24]:
result=pd.DataFrame()
result['Actual Label']=ytest
result['Decision Tree prediction']=y_pred

In [25]:
result

     Actual Label  Decision Tree prediction
94              0                         1
32              0                         1
225             0                         1
157             0                         1
356             1                         1
..            ...                       ...
224             0                         1
355             1                         1
229             1                         1
308             1                         1
395             1                         1

[320 rows x 2 columns]

In [26]:
from sklearn.metrics import precision_score
precision_score(ytest,y_pred,average='weighted')

C:\Users\CS-L1-PC02\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.1359765625

In [29]:
from sklearn.metrics import recall_score
recall_score(ytest,y_pred,average='micro')

0.36875

In [31]:
from sklearn.metrics import f1_score
f1_score(ytest,y_pred,average='micro')

0.36875